---
import type { CollectionEntry } from 'astro:content'
import SummaryCard from '../generic/SummaryCard.astro'

interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props
---
 
<SummaryCard
  title={post.data.title}
  imgAlt={post.data.title}
  imgSrc={post.data.imgUrl}
  description={post.data.description}
  articleSrc={post.slug}
>
  <!-- <div class="my-4 flex justify-end">
    <a class="font-bold" href={`/blog/${post.slug}/`}>看文章 &rarr;</a>
  </div> -->

  <div class="hidden sm:inline-block">
    <p class="poppins mt-2">tags:</p>
    <div class="flex items-center justify-between">
      <ul class="mt-2 flex gap-4">
        {
          post.data.tags.map((tag: string) => {
            return (
              <li>
                <a class="badge badge-outline sanchez flex items-center justify-center h-10 min-w-20 shadow-md shadow-white" href={`/blog/tags/${tag.toLowerCase()}/`}>
                  <p class="flex  items-center justify-center ">{tag}</p>
                </a>
              </li>
            )
          })
        }
      </ul>
      {
        post.data.draft && (
          <span class="bg-green card-shadow rounded-full border-2 border-black px-4 py-1 text-sm">Draft</span>
        )
      }
    </div>
  </div>
</SummaryCard>
