---
// import { Card } from '@eliancodes/brutal-ui'
import { Image } from 'astro:assets'

interface Props {
  title: string
  imgSrc: any
  imgAlt: string
  description: string
  articleSrc: any
}

const { title, imgAlt, imgSrc, description, articleSrc } = Astro.props
---

<!-- <Card>
  <h2 class="poppins text-lg md:text-xl">{title}</h2>
  <div class="border-3 my-4 h-56 rounded-lg border-black">
    <Image src={imgSrc} alt={imgAlt} width={800} height={400} class="h-full w-full rounded-lg object-cover" />
  </div>
  <p class="poppins">{description}</p>
  <slot />
</Card> -->

<div class="card glass">
  <figure><Image src={imgSrc} alt={imgAlt} width={800} height={400}/></figure>
  <div class="card-body">
    <h2 class="card-title">{title}</h2>
    <p class="poppins">{description}</p>
    <div class="card-actions justify-end">
      <a class="font-bold" href={`/blog/${articleSrc}/`}>看文章 &rarr;</a>
    </div>
    <slot />
  </div>
</div>